# django-restframework
django-restframework-apiview==1.3.4

# matplotlib. Graphs
matplotlib==3.0.3

# reportlab. Generate PDFs
reportlab==3.4.0

# django-filter
django-filter==2.1.0

#django-columns
django-columns==0.1.0

#fatsecret
fatsecret==0.2.3

#pillow
Pillow==8.2.0


