{% extends "base_generic.html" %}

{% block content %}
    
    <center><h3>Datos usuario</h3></center>
    {% if user_data %}
      <table width="5%">
        <tr>
          <th width="20%">Usuario</th><td><a href="{% url 'images' 1 %}"><img src="{{ user_data.profile_picture.url }}" class="img-circle" style="width:80px;height:80px;"></a></td>
        </tr>
        <tr>
          <th width="20%">Nombre</th><td>{{ user_data.user.first_name }}</td>
        </tr>  
        <tr>  
          <th width="20%">Apellidos</th><td>{{ user_data.user.last_name }}</td>
        </tr>
        <tr>  
          <th width="20%">Email</th><td>{{ user_data.user.email }}</td>
        </tr>
        <tr>  
          <th width="20%">Fecha de nacimiento</th><td>{{ user_data.birthdate }}</td>
        </tr>
        <tr>  
          <th width="20%">Ciudad</th><td>{{ user_data.city }}</td>
        </tr>
        <tr>  
          <th width="20%">Peso</th>{% if weight %}
            <td>{{ weight }} kilos</td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
        <tr>  
          <th>Acciones</th><td><a href="{% url 'user_edit' %}" class="fas fa-edit"></a></td>
        </tr>
  <!--    {% for peso in user_data.weight_data.all %}
            <tr>
              <td>{{ peso.date }}</td>
              <td>{{ peso.weight }} Kilos</td>
            </tr>
          {% endfor %} -->
      </table>
    {% else %}
      <p>No hay datos de usuario registrados en el sistema.</p>
    {% endif %}

{% endblock %}
