{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1>Registro</h1>
<html>
    <body>
    <form role="form" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table>
        	<tr>
        		<th><label for="id_username">Usuario:</label></th><td>{{ form.username }}</td>
        	</tr>
        	<tr>
        		<th><label for="id_username">Nombre:</label></th><td>{{ form.first_name }}</td>
        	</tr>
        	<tr>	
        		<th><label for="id_username">Apellidos:</label></th><td>{{ form.last_name }}</td>
        	</tr>	
			<tr>
        		<th><label for="id_username">Fecha de nacimiento:</label></th><td>{{ form.birthdate }}<br> dd/mm/yyyy</td>
        	</tr>
        	<tr>
        		<th><label for="id_username">Ciudad:</label></th><td>{{ form.city }}</td>
        	</tr>
        	<tr>
        		<th><label for="id_username">Foto de perfil:</label></th><td>{{ form.profile_picture }}</td>
        	</tr>
        	<tr>	
        		<th><label for="id_username">Contraseña:</label></th><td>{{ form.password1 }}</td>
        	</tr>
        	<tr>	
        		<th><label for="id_username">Confirmar contraseña:</label></th><td>{{ form.password2 }}</td>
        	</tr>
        </table><br>
        <input type="submit" value="Registrarse" />
    </form>
    </body>
{% endblock %}
</html>